# Don't track these folders

# images
host_images/*

# dependencies
node_modules
build

build/
dist/
node_modules/

# aws-exports.js
awsconfiguration.json

# Wiki page
zither-score.wiki

#amplify
amplify/.config/local-*
amplify/mock-data
build/
dist/
node_modules/
awsconfiguration.json