/* NavBar Page Styling */
.NavBarBackground {
    background: linear-gradient(315deg, #31caa9 30%, #54cece 70%);
}
.dropdown-toggle::after {
    display:none;
}
.SearchIcon {
    margin-right: 10px;
}


/* ToolBar Page styling */
